  <div class="row">
    <div class="small-10 small-centered columns">
      <hr />
    </div>
  </div>

  <div id="foot" class="row">

  <div class="small-6 columns">
    <ul class="inline-list">
      <li class="socialicon"><a href="http://twitter.com/arayi"><%= image_tag("svgs/fi-social-twitter.svg", size: "32x32") %></a></li>
      <li class="socialicon"><a href="http://www.linkedin.com/in/melodymustaine"><%= image_tag("svgs/fi-social-linkedin.svg", size: "32x32") %></a></li>
      <li class="socialicon"><a href="http://github.com/arayi"><%= image_tag("svgs/fi-social-github.svg", size: "32x32") %></a></li>
      <li class="socialicon"><a href="http://steamcommunity.com/profiles/76561198028326445"><%= image_tag("svgs/fi-social-steam.svg", size: "32x32") %></a></li>
      <li class="socialicon"><a href="mailto:melody@arayi.org"><%= image_tag("svgs/fi-mail.svg", size: "32x32") %></a></li>
    </ul>
  </div>
  <div class="text-right small-6 columns copyright">
    <h5><%= raw t( '.copyright', :year => Time.now.year,
                        :site_name => mail_to("melody@arayi.org", "Melody Mustaine") ) %></h5>
  </div>
</div>
